data0.cst
Water model: SUPCRT92
TP points: 8
+--------------------------------------------------------------------           
data0 parameters                                                                
+--------------------------------------------------------------------           
Temperature limits (degC)
         0.0100  350.0000
temperatures
         0.0100   50.0000  100.0000  150.0000
       200.0000  250.0000  300.0000  350.0000
pressures
       200.0000  200.0000  200.0000  200.0000
       200.0000  200.0000  200.0000  200.0000
debye huckel a (adh)
         0.4884    0.5294    0.5915    0.6734
         0.7799    0.9255    1.1537    1.6897
debye huckel b (bdh)
         0.3251    0.3325    0.3417    0.3518
         0.3628    0.3748    0.3895    0.4136
bdot
         0.0376    0.0443    0.0505    0.0529
         0.0479    0.0322    0.0000    0.0000
cco2   (coefficients for the drummond (1981) polynomial)                        
        -1.0312              0.0012806                                          
          255.9                 0.4445                                          
      -0.001606                                                                 
log k for eh reaction
       -92.1573  -75.2589  -63.0159  -53.7660
       -46.5511  -40.7827  -36.0808  -32.1932
+--------------------------------------------------------------------
bdot parameters
+--------------------------------------------------------------------
*  species name                 azer0  neutral ion type
Cl-                             3.0000     0
H+                              9.0000     0
H2O                             3.0000     0
OH-                             3.0000     0
O2(g)                           3.0000     0
O2                              3.0000    -1
plhold                          3.0000     0
acetic-acid                     3.0000     0
H2                              3.0000    -1
ethane                          3.0000     0
glycolic-acid                   4.0000     0
ethylene                        3.0000     0
ethanol                         3.0000     0
acetaldehyde                    4.0000     0
acetate                         4.0000     0
glycolate                       4.0000     0
+--------------------------------------------------------------------
elements
+--------------------------------------------------------------------
O         15.99940
Cl        35.45270
H          1.00794
pl         1.00000
C         12.01100
+--------------------------------------------------------------------
basis species
+--------------------------------------------------------------------
H2O
    date last revised =  13-jul-1990                                            
 keys   = basis            active                                               
     charge  =   0.0                                                             
*    DHazero =   3.0                                                             
*    mol.wt. =      18.01528 g/mol                                                   
     2 element(s):                                                      
      2.0000 H              1.0000 O                                            
+--------------------------------------------------------------------
Cl-
    date last revised =  26-jun-1990                                            
 keys   = basis            active                                               
     charge  =  -1.0                                                             
*    DHazero =   3.0                                                             
*    mol.wt. =      35.45270 g/mol                                                   
     1 element(s):                                                      
      1.0000 Cl                                                                 
+--------------------------------------------------------------------
H+
    date last revised =  13-jun-1988                                            
 keys   = basis            active                                               
     charge  =   1.0                                                             
*    DHazero =   9.0                                                             
*    mol.wt. =       1.00794 g/mol                                                   
     1 element(s):                                                      
      1.0000 H                                                                  
+--------------------------------------------------------------------
plhold
    date last revised =  28-apr-2020                                            
 keys   = basis            active                                               
     charge  =   0.0                                                             
*    DHazero =   3.5                                                             
*    mol.wt. =       1.00000 g/mol                                                   
     1 element(s):                                                      
      1.0000 pl                                                                 
+--------------------------------------------------------------------
acetic-acid
    date last revised =  3/6/1992
 keys   = basis            active
     charge  =   0.0
     3 element(s):
      2.0000 C              4.0000 H              2.0000 O
+--------------------------------------------------------------------
O2(g)
    date last revised =  31-jul-1984                                            
 keys   = basis            active                                               
     charge  =   0.0                                                             
*    DHazero =   3.0                                                             
*    mol.wt. =      31.99880 g/mol                                                   
     1 element(s):                                                      
      2.0000 O                                                                  
+--------------------------------------------------------------------
auxiliary basis species
+--------------------------------------------------------------------
O2
    date last revised = 26.Jun.87
 keys   = aux              active
     charge  =   0.0
*
     1 element(s):
      2.0000 O 
     2 species in aqueous dissociation reaction:      
    -1.0000  O2                             1.0000  O2(g)                    
**** logK grid [T, P @ Miscellaneous parameters]=O2
          2.7619     3.1333     3.2010     3.1205
          2.9519     2.7198     2.4213     1.9583
+--------------------------------------------------------------------
H2
    date last revised = 13.Jul.87
 keys   = aux              active
     charge  =   0.0
*
     1 element(s):
      2.0000 H 
     3 species in aqueous dissociation reaction:      
    -1.0000  H2                            -0.5000  O2(g)
     1.0000  H2O                      
**** logK grid [T, P @ Miscellaneous parameters]=H2
         49.1687    40.8477    34.6478    29.8469
         26.0093    22.8596    20.2090    17.8812
+--------------------------------------------------------------------
ethane
    date last revised = 8/31/1987
 keys   = aux              active
     charge  =   0.0
*
     2 element(s):
      2.0000 C              6.0000 H 
     4 species in aqueous dissociation reaction:      
    -1.0000  ethane                         1.0000  acetic-acid
     1.0000  H2O                           -1.5000  O2(g)                    
**** logK grid [T, P @ Miscellaneous parameters]=ethane
        118.7562    99.0196    84.4321    73.2329
         64.3607    57.1488    51.1504    46.0027
+--------------------------------------------------------------------
glycolic-acid
    date last revised = 6/16/1992
 keys   = aux              active
     charge  =   0.0
*
     3 element(s):
      2.0000 C              4.0000 H              3.0000 O 
     3 species in aqueous dissociation reaction:      
    -1.0000  glycolic-acid                  1.0000  acetic-acid
     0.5000  O2(g)                    
**** logK grid [T, P @ Miscellaneous parameters]=glycolic-acid
        -25.8001   -20.9933   -17.4776   -14.7946
        -12.6821   -10.9809    -9.5936    -8.4905
+--------------------------------------------------------------------
aqueous species
+--------------------------------------------------------------------
OH-
    date last revised = 06.Nov.97
 keys   = aqueous          active
     charge  =   -1.0
*
     2 element(s):
      1.0000 O              1.0000 H 
     3 species in aqueous dissociation reaction:      
    -1.0000  OH-                           -1.0000  H+
     1.0000  H2O                      
**** logK grid [T, P @ Miscellaneous parameters]=OH-
         14.8454    13.2005    12.1892    11.5612
         11.2034    11.0674    11.1687    11.7127
+--------------------------------------------------------------------
ethylene
    date last revised = 10/4/2000
 keys   = aqueous          active
     charge  =   0.0
*
     2 element(s):
      2.0000 C              4.0000 H 
     4 species in aqueous dissociation reaction:      
    -1.0000  ethylene                      -1.0000  H2O
     0.5000  O2(g)                          1.0000  ethane                   
**** logK grid [T, P @ Miscellaneous parameters]=ethylene
        -26.7385   -22.3549   -19.1741   -16.7568
        -14.8577   -13.3253   -12.0585   -10.9682
+--------------------------------------------------------------------
ethanol
    date last revised = 10/4/2000
 keys   = aqueous          active
     charge  =   0.0
*
     3 element(s):
      2.0000 C              6.0000 H              1.0000 O 
     4 species in aqueous dissociation reaction:      
    -1.0000  ethanol                       -1.0000  O2(g)
     1.0000  H2O                            1.0000  acetic-acid              
**** logK grid [T, P @ Miscellaneous parameters]=ethanol
         87.0057    72.7025    62.1866    54.1311
         47.7618    42.5996    38.3342    34.7642
+--------------------------------------------------------------------
acetaldehyde
    date last revised = 1/14/1993
 keys   = aqueous          active
     charge  =   0.0
*
     3 element(s):
      2.0000 C              4.0000 H              1.0000 O 
     3 species in aqueous dissociation reaction:      
    -1.0000  acetaldehyde                  -0.5000  O2(g)
     1.0000  acetic-acid              
**** logK grid [T, P @ Miscellaneous parameters]=acetaldehyde
         49.2998    41.1745    35.2324    30.6976
         27.1195    24.2168    21.7972    19.6780
+--------------------------------------------------------------------
acetate
    date last revised = 2/28/1992
 keys   = aqueous          active
     charge  =   -1.0
*
     3 element(s):
      2.0000 C              3.0000 H              2.0000 O 
     3 species in aqueous dissociation reaction:      
    -1.0000  acetate                       -1.0000  H+
     1.0000  acetic-acid              
**** logK grid [T, P @ Miscellaneous parameters]=acetate
          4.7419     4.7431     4.8987     5.1451
          5.4637     5.8622     6.3935     7.3291
+--------------------------------------------------------------------
glycolate
    date last revised = 6/17/1992
 keys   = aqueous          active
     charge  =   -1.0
*
     3 element(s):
      2.0000 C              3.0000 H              3.0000 O 
     3 species in aqueous dissociation reaction:      
    -1.0000  glycolate                     -1.0000  H+
     1.0000  glycolic-acid            
**** logK grid [T, P @ Miscellaneous parameters]=glycolate
          3.8329     3.8093     3.9587     4.2107
          4.5431     4.9635     5.5297     6.5490
+--------------------------------------------------------------------
solids
+--------------------------------------------------------------------
PLACEHOLDER1            pl
    date last revised = 28-apr-2020
 keys   = solid            refstate         active                              
       V0PrTr =     5.298 cm**3/mol
*      mwt    =    12.01100 g/mol
     1 element(s):
      1.0000 pl
     2 species in data0 reaction
    -1.0000  PLACEHOLDER1                 1.0000  plhold                           
**** logK grid [T, P @ Miscellaneous parameters]=PLACEHOLDER1
        67.7190   55.7740   46.8740   39.9510
        34.3690   29.7110   25.6630   21.8320
+--------------------------------------------------------------------
PLACEHOLDER2            pl
    date last revised = 28-apr-2020
 keys   = solid            refstate         active                              
       V0PrTr =     5.298 cm**3/mol
*      mwt    =    12.01100 g/mol
     1 element(s):
      1.0000 pl
     2 species in data0 reaction
    -1.0000  PLACEHOLDER2                 1.0000  plhold                           
**** logK grid [T, P @ Miscellaneous parameters]=PLACEHOLDER2
        67.7190   55.7740   46.8740   39.9510
        34.3690   29.7110   25.6630   21.8320
+--------------------------------------------------------------------
liquids
+--------------------------------------------------------------------
PLACEHOLDER3              pl
    date last revised = 20-nov-2008
 keys   = liquid           refstate         active                              
       V0PrTr =    14.822 cm**3/mol
*      mwt    =   200.59000 g/mol                                               
     1 element(s):                                                      
      1.0000 pl                                                                 
     2 species in data0 reaction
    -1.0000  PLACEHOLDER3                 1.0000  plhold                            
**** logK grid [T, P @ Miscellaneous parameters]=PLACEHOLDER3
        14.5630   11.1400    8.6820    6.8350
         5.3860    4.1960    3.1670    2.2860
+--------------------------------------------------------------------           
gases
+--------------------------------------------------------------------
H2O(g)
    date last revised = 20-nov-2008
 keys   = gas              active                                               
       V0PrTr = 24465.000 cm**3/mol
*      mwt    =    18.01528 g/mol                                               
     2 element(s):                                                      
      2.0000 H              1.0000 O                                            
     2 species in data0 reaction
    -1.0000  H2O(g)                       1.0000  H2O                           
**** logK grid [T, P @ Miscellaneous parameters]=H2O(g)
         2.2990    0.9950   -0.0060   -0.6630
        -1.1560   -1.5340   -1.8290   -2.0630
+--------------------------------------------------------------------
O2(g)
    date last revised = 20-nov-2008
 keys   = gas              refstate         active                              
       V0PrTr = 24465.000 cm**3/mol
*      mwt    =    31.99880 g/mol                                               
     1 element(s):                                                      
      2.0000 O                                                                  
     2 species in data0 reaction
    -1.0000  O2(g)                        1.0000  O2(g)                         
**** logK grid [T, P @ Miscellaneous parameters]=O2(g)
         0.0000    0.0000    0.0000    0.0000
         0.0000    0.0000    0.0000    0.0000
+--------------------------------------------------------------------
solid solutions
+--------------------------------------------------------------------
PLAC EHO LDER 4         pl1-pl1
    date last revised = 30-apr-2020 GMB
 keys   = ss               cubic maclaurin  active
  2 end members
     1.0000  PLACEHOLDER1                 1.0000  PLACEHOLDER2
 type   = 4
  4 model parameters
 7.404 5.200 0.086 4.078 0.000 0.086
  1 site parameters
 1.000 0.000 0.000 0.000 0.000 0.000
+--------------------------------------------------------------------
references
+--------------------------------------------------------------------
GB Note: placeholder elements and species were required to produce a
working data0 file without real liquids, solids, or solid solutions.
In this way, only aqueous and gaseous species are included.
Placeholder element: pl
Placeholder basis: plhold
Placeholder solid: PLACEHOLDER1, PLACEHOLDER2
Placeholder liquid: PLACEHOLDER3
Placeholder solid solution: "PLAC EHO LDER 4"

                                                                               
stop.                                                                           
                                                                                
                                                                                
